footer{
    background-color:#007B9B;
}
.card-footer{
    background-color:white;
}
.card{
    padding-left:160px;
    padding-right:160px;
    border:0px;
}

.btn{
    color:#fff;
    background-color:#007B9B;
}
a{
    color:#fff;
}
