*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #007b9b;
  background-size: cover;
  background-attachment: fixed;
}

ul{
  margin-bottom : 30px;
  margin-top: 10px;
}

ul a{
  font-size: 29px;
  color: black;
}

.label{
  font-size: 20px;
  color: black;
  font-weight: normal;
}

.form-control{
  border-radius: 1px;
  border: 1px;
  margin-bottom: 20px;
  font-size: 16px;
  color: black;
  padding: 10px;
}


.btn-info{
  background: cadetblue;
  border: 2px solid cadetblue ;
  border-radius: 0px;
  width: 200px;
  margin-top: 5px;
  margin-left: 75px;
  font-size: 20px;
}

.col-md-6{
  background: white;
}

.signup{
  font-size: 16px;
  margin-top: -20px;
  
}

.back{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 300px;
}
